@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
body
	{
		background-color:rgba(0, 0, 0, 0);
		white-space:nowrap;
		font-family:"Ubuntu";
		user-select:none;
		overflow:hidden;
	}

.DivTable
	{
		display:table;
	}
.DivRow
	{
		display:table-row;
	}
.DivCell
	{
		position:relative;
		vertical-align:middle;
		display:table-cell;
	}
.DivCellStat
	{
		height:16px;
		display:table-cell;
		vertical-align:top;
		font-size:16px;
		text-align:center;
		font-family:"Ubuntu Mono";
	}
.DivCellOrder
	{
		width:194px;
		height:16px;
		display:table-cell;
		vertical-align:top;
		font-size:16px;
		text-align:right;
		font-family:"Ubuntu Mono";
	}
.DivButton
	{
		width:64px;
		height:16px;
		margin:2px;
		border:2px solid rgba(0, 0, 0, 1);
		padding:2px;
		background-color:rgba(255, 255, 255, 1);
		font-size:16px;
		line-height:16px;
		text-align:center;
		vertical-align:middle;
		color:rgba(0, 0, 0, 1);
		cursor:pointer;
	}
.DivInput
	{
		width:224px;
		height:24px;
		margin:2px;
		border:2px solid rgba(0, 0, 0, 1);
		padding:2px;
		font-size:16px;
		font-family:"Ubuntu Mono";
	}

.Main
	{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		max-height:auto;
		background-image:url("PNG/Background.png");
		background-size:100%;
		background-repeat:no-repeat;
		font-size:0;
		display:table;
	}

.Frame
	{
		position:absolute;
		z-index:1;
		left:50%;
		top:50%;
		transition:0.5s;
	}
#Frame01
	{
		transform:translate(calc(-100% - 4px), -50%);
		color:rgba(0, 0, 0, 1);
	}
#Frame02
	{
		transform:translate(4px, -50%);
		color:rgba(255, 255, 255, 1);
	}

.FrameT
	{
		position:absolute;
		width:342px;
		height:54px;
		cursor:pointer;
	}
#Frame01T
	{
		background-image:url("PNG/Frame/N0101.png");
		
	}
#Frame02T
	{
		background-image:url("PNG/Frame/N0201.png");
	}
.FrameM
	{
		position:relative;
		top:54px;
		width:342px;
		height:680px;
		background-size:100%;
	}
#Frame01M
	{
		background-image:url("PNG/Frame/N0102.png");
	}
#Frame02M
	{
		background-image:url("PNG/Frame/N0202.png");
	}
.FrameB
	{
		position:relative;
		top:54px;
		width:342px;
		height:15px;
	}
#Frame01B
	{
		background-image:url("PNG/Frame/N0103.png");
	}
#Frame02B
	{
		background-image:url("PNG/Frame/N0203.png");
	}

.FrameCharacter
	{
		width:128px;
		height:128px;
		border:2px solid rgba(0, 0, 0, 0);
		cursor:pointer;
	}
.FrameDestiny
	{
		position:absolute;
		z-index:2;
		left:2px;
		top:2px;
		width:128px;
		height:128px;
		pointer-events:none;
	}
.FrameElement
	{
		position:absolute;
		z-index:2;
		left:5px;
		top:6px;
		width:28px;
		height:28px;
		cursor:default;
	}
.FrameSymbol
	{
		position:relative;
		width:64px;
		height:64px;
		border:2px solid rgba(0, 0, 0, 0);
		cursor:pointer;
	}
.FrameStatIcon
	{
		position:relative;
		width:32px;
		height:32px;
	}
.FrameStatNumber
	{
		height:16px;
		width:32px;
		border:none;
		font-size:16px;
		font-family:"Ubuntu";
		color:inherit;
		background-color:rgba(0, 0, 0, 0);
		text-align:center;
	}

.SelectParty
	{
		position:absolute;
		z-index:0;
		top:calc(50% - 343px);
		width:38px;
		height:33px;
		transform:skew(35deg);
		background-color:rgba(128, 32, 32, 1);
	}
#SelectParty01
	{
		left:calc(50% - 54px);
	}
#SelectParty02
	{
		left:calc(50% + 296px);
		display:none;
	}
.SelectPartyText
	{
		height:33px;
		transform:skew(-35deg);
		font-size:12px;
		line-height:33px;
		text-align:center;
		vertical-align:middle;
		color:rgba(255, 255, 255, 1);
	}

.SelectCharacterList
	{
		position:absolute;
		z-index:5;
		top:50%;
		width:408px;
		height:95%;
		padding:4px;
		transform:translate(0%, -50%);
		overflow-y:scroll;
		transition:0.5s;
	}
#SelectCharacterList01
	{
		margin-left:-416px;
		background-color:rgba(128, 128, 128, 1);
	}
#SelectCharacterList02
	{
		margin-left:100%;
		background-color:rgba(128, 128, 128, 1);
	}

.SelectSymbolList
	{
		position:absolute;
		z-index:4;
		top:50%;
		width:408px;
		height:95%;
		padding:4px;
		transform:translate(0%, -50%);
		overflow-y:scroll;
		transition:0.5s;
	}
#SelectWeaponList
	{
		margin-left:-416px;
		background-color:rgba(128, 128, 128, 1);
	}
#SelectSoulList
	{
		margin-left:100%;
		background-color:rgba(128, 128, 128, 1);
	}

.SelectIdoMagList
	{
		position:absolute;
		z-index:3;
		top:50%;
		width:408px;
		height:95%;
		padding:4px;
		transform:translate(0%, -50%);
		overflow-y:scroll;
		transition:0.5s;
	}
#SelectIdoMagList01
	{
		margin-left:-416px;
		background-color:rgba(128, 128, 128, 1);
	}
#SelectIdoMagList02
	{
		margin-left:100%;
		background-color:rgba(128, 128, 128, 1);
	}

.SelectIMG
	{
		width:64px;
		height:64px;
		margin:2px;
		cursor:pointer;
	}

#ID0101Destiny
	{
		display:none;
	}
#ID0102Destiny
	{
		display:none;
	}
#ID0103Destiny
	{
		display:none;
	}
#ID0104Destiny
	{
		display:none;
	}
#ID0201Destiny
	{
		display:none;
	}
#ID0202Destiny
	{
		display:none;
	}
#ID0203Destiny
	{
		display:none;
	}
#ID0204Destiny
	{
		display:none;
	}

#ID0101Element
	{
		display:none;
	}
#ID0102Element
	{
		display:none;
	}
#ID0103Element
	{
		display:none;
	}
#ID0104Element
	{
		display:none;
	}
#ID0201Element
	{
		display:none;
	}
#ID0202Element
	{
		display:none;
	}
#ID0203Element
	{
		display:none;
	}
#ID0204Element
	{
		display:none;
	}

#ID0101CharacterD
	{
		opacity:0.5;
	}
#ID0102CharacterD
	{
		opacity:0.5;
	}
#ID0103CharacterD
	{
		opacity:0.5;
	}
#ID0104CharacterD
	{
		opacity:0.5;
	}
#ID0201CharacterD
	{
		opacity:0.5;
	}
#ID0202CharacterD
	{
		opacity:0.5;
	}
#ID0203CharacterD
	{
		opacity:0.5;
	}
#ID0204CharacterD
	{
		opacity:0.5;
	}

#Loading
	{
		position:absolute;
		z-index:9;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 1);
		transition:1.5s;
	}
#LoadingText
	{
		position:relative;
		top:50%;
		transform:translate(0, -50%);
		font-size:64px;
		text-align:center;
		color:rgba(255, 255, 255, 1);
		transition:1.5s;
	}

.Data
	{
		position:absolute;
		z-index:8;
		left:50%;
		top:32px;
		border:4px solid black;
		transform:translate(-50%, 0);
		background-color:rgba(255, 255, 255, 0.5);
	}

::-webkit-scrollbar
	{
		display:none;
	}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
	{
		-webkit-appearance: none;
		margin: 0;
	}
input[type="number"]
	{
		-moz-appearance:textfield;
	}