@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
body
	{
		background-color:rgba(0, 0, 0, 0);
		white-space:nowrap;
		font-family:"Ubuntu";
		user-select:none;
		overflow:hidden;
	}
.DivTable
	{
		display:table;
	}
.DivTableSymbol
	{
		width:64px;
		margin:auto;
		display:table;
	}
.DivRow
	{
		display:table-row;
	}
.DivCell
	{
		position:relative;
		vertical-align:middle;
		display:table-cell;
	}
.DivCellIdoMag
	{
		padding-top:2px;
		display:table-cell;
		vertical-align:top; 
	}
.DivCellStat
	{
		height:16px;
		display:table-cell;
		vertical-align:top;
		font-size:16px;
		text-align:center;
		font-family:"Ubuntu Mono";
	}
.DivCellText
	{
		height:16px;
		display:table-cell;
		vertical-align:middle;
		font-size:16px;
		text-align:center;
		font-family:"Ubuntu Mono";
	}

.DivButton
	{
		width:64px;
		height:16px;
		margin:2px;
		border:2px solid rgba(0, 0, 0, 1);
		padding:2px;
		background-color:rgba(255, 255, 255, 1);
		font-size:16px;
		line-height:16px;
		text-align:center;
		vertical-align:middle;
		color:rgba(0, 0, 0, 1);
		cursor:pointer;
	}
.DivInput
	{
		width:224px;
		height:24px;
		margin:2px;
		border:2px solid rgba(0, 0, 0, 1);
		padding:2px;
		font-size:16px;
		font-family:"Ubuntu Mono";
	}

.Main
	{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		max-height:auto;
		background-image:url("PNG/Background.png");
		background-size:cover;
		background-position:50%, 50%;
		font-size:0;
		display:table;
		transition:0.5s;
	}

.Party
	{
		position:absolute;
		z-index:2;
		left:50%;
		top:50%;
		transition:0.5s;
	}
#Party01
	{
		transform:translate(-50%, calc(-100% - 57px));
		color:rgba(0, 0, 0, 1);
	}
#Party02
	{
		transform:translate(-50%, calc(0% + 2px));
		color:rgba(255, 255, 255, 1);
	}

.PartyT
	{
		position:absolute;
		width:798px;
		height:54px;
		cursor:pointer;
	}
#Party01T
	{
		background-image:url("PNG/Party/N0101.png");
		
	}
#Party02T
	{
		background-image:url("PNG/Party/N0201.png");
	}

.PartyM
	{
		position:relative;
		top:54px;
		width:798px;
		height:332px;
		background-size:100%;
	}
#Party01M
	{
		background-image:url("PNG/Party/N0102.png");
	}
#Party02M
	{
		background-image:url("PNG/Party/N0202.png");
	}

.PartyB
	{
		position:relative;
		top:54px;
		width:798px;
		height:15px;
	}
#Party01B
	{
		background-image:url("PNG/Party/N0103.png");
	}
#Party02B
	{
		background-image:url("PNG/Party/N0203.png");
	}

.SelectParty
	{
		position:absolute;
		z-index:1;
		left:calc(50% - 107px);
		width:256px;
		height:33px;
		transform:skew(35deg);
		background-color:rgba(128, 32, 32, 1);
	}
#SelectParty01
	{
		top:calc(50% - 400px);
	}
#SelectParty02
	{
		top:calc(50% + 6px);
		display:none;
	}
.SelectPartyText
	{
		height:33px;
		transform:skew(-35deg);
		font-size:32px;
		line-height:33px;
		text-align:center;
		vertical-align:middle;
		color:rgba(255, 255, 255, 1);
	}

.PartyCharacter
	{
		width:128px;
		height:128px;
		border:2px solid rgba(0, 0, 0, 0);
		cursor:pointer;
	}
.PartyDestiny
	{
		position:absolute;
		z-index:2;
		left:2px;
		top:2px;
		width:128px;
		height:128px;
		pointer-events:none;
	}
.PartyElement
	{
		position:absolute;
		z-index:2;
		left:5px;
		top:6px;
		width:28px;
		height:28px;
		cursor:default;
	}
.PartySymbolWeapon
	{
		width:64px;
		height:64px;
		border:solid rgba(0, 0, 0, 0);
		border-width:2px 0px 2px 2px;
		cursor:pointer;
	}
.PartySymbolSoul
	{
		width:64px;
		height:64px;
		border:solid rgba(0, 0, 0, 0);
		border-width:2px 2px 2px 0px;
		cursor:pointer;
	}
.PartyIdoMag
	{
		width:64px;
		height:64px;
		border:2px solid rgba(0, 0, 0, 0);
		cursor:pointer;
	}
.PartyStatIcon
	{
		width:32px;
		height:32px;
	}
.PartyStatNumber
	{
		height:16px;
		width:32px;
		border:none;
		font-size:16px;
		font-family:"Ubuntu";
		color:inherit;
		background-color:rgba(0, 0, 0, 0);
		text-align:center;
	}

.SelectList
	{
		position:absolute;
		z-index:4;
		left:50%;
		top:50%;
		height:0%;
		border:4px solid rgba(128, 128, 128, 1);
		transform:translate(-50%, -50%);
		background-color:rgba(128, 128, 128, 1);
		display:none;
		overflow:hidden;
		transition:0.25s;
	}
.Select
	{
		height:calc(100% - 48px);
		display:grid;
		grid-auto-columns:64px;
		grid-auto-rows:64px;
		grid-gap:2px;
		grid-auto-flow:row;
		grid-template-columns:auto auto auto auto auto auto auto auto auto auto;
		overflow-y:scroll;
	}
.SelectFilter
	{
		width:32px;
		height:32px;
		margin:8px;
		cursor:pointer;
	}
.SelectIMG
	{
		width:64px;
		height:64px;
		cursor:pointer;
	}
#SelectCancel
	{
		position:absolute;
		z-index:3;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 1);
		opacity:0;
		display:none;
		cursor:pointer;
		transition:0.25s;
	}

#ID0101Destiny
	{
		display:none;
	}
#ID0102Destiny
	{
		display:none;
	}
#ID0103Destiny
	{
		display:none;
	}
#ID0104Destiny
	{
		display:none;
	}
#ID0201Destiny
	{
		display:none;
	}
#ID0202Destiny
	{
		display:none;
	}
#ID0203Destiny
	{
		display:none;
	}
#ID0204Destiny
	{
		display:none;
	}

#ID0101Element
	{
		display:none;
	}
#ID0102Element
	{
		display:none;
	}
#ID0103Element
	{
		display:none;
	}
#ID0104Element
	{
		display:none;
	}
#ID0201Element
	{
		display:none;
	}
#ID0202Element
	{
		display:none;
	}
#ID0203Element
	{
		display:none;
	}
#ID0204Element
	{
		display:none;
	}

#ID0101CharacterD
	{
		opacity:0.5;
	}
#ID0102CharacterD
	{
		opacity:0.5;
	}
#ID0103CharacterD
	{
		opacity:0.5;
	}
#ID0104CharacterD
	{
		opacity:0.5;
	}
#ID0201CharacterD
	{
		opacity:0.5;
	}
#ID0202CharacterD
	{
		opacity:0.5;
	}
#ID0203CharacterD
	{
		opacity:0.5;
	}
#ID0204CharacterD
	{
		opacity:0.5;
	}

#SelectCharacterELE00
	{
		opacity:1;
	}
#SelectCharacterELE01
	{
		opacity:0.5;
	}
#SelectCharacterELE02
	{
		opacity:0.5;
	}
#SelectCharacterELE03
	{
		opacity:0.5;
	}
#SelectCharacterELE04
	{
		opacity:0.5;
	}
#SelectCharacterELE00
	{
		opacity:1;
	}

#SelectWeaponRarity00
	{
		opacity:1;
	}
#SelectWeaponRarity01
	{
		opacity:0.5;
	}
#SelectWeaponRarity02
	{
		opacity:0.5;
	}

#SelectSoulRarity00
	{
		opacity:1;
	}
#SelectSoulRarity01
	{
		opacity:0.5;
	}
#SelectSoulRarity02
	{
		opacity:0.5;
	}

#Loading
	{
		position:absolute;
		z-index:5;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 1);
		opacity:1;
		transition:1s;
	}
#LoadingText
	{
		position:relative;
		top:50%;
		transform:translate(0, -50%);
		font-size:64px;
		text-align:center;
		color:rgba(255, 255, 255, 1);
		opacity:1;
		transition:1s;
	}

.Data
	{
		position:absolute;
		z-index:1;
		left:50%;
		top:0px;
		border:solid black;
		border-width:0px 4px 4px 4px;
		transform:translate(-50%, 0);
		background-color:rgba(255, 255, 255, 0.5);
	}

::-webkit-scrollbar
	{
		display:none;
	}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
	{
		-webkit-appearance: none;
		margin: 0;
	}
input[type="number"]
	{
		-moz-appearance:textfield;
	}